node_modules
npm-debug.log
yarn-error.log
.env
.env.local
.env.*.local
dist
build
.next
.git
.gitignore
coverage
tests
Dockerfile*
docker-compose*
.dockerignore
.vscode
.idea
.DS_Store
Thumbs.db
logs/
*.log
